
@defining(play.core.PlayVersion.current) { version =>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <title>GlicoseBot, Política de privacidade</title>
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous"
    >
</head>
<body>

<section id="top">
  <div class="wrapper">
      Política de privacidade
  </div>
</section>

<div id="content" class="wrapper doc">

  <h1>Relatório de glicose</h1>

  <p>
      Os dados do utilizador e informação fornecida por ele serão guardados por nós para usufruto do mesmo,<br/>
      ficando desde já o utilizador com esse conhecimento e que os dados não se encontram encriptados na nossa
      base de dados.
      GlicoseBot pode usufruir desses mesmos dados para análise e estatísticas de forma anónima<br/>
      sem identificação do utilizador específico.
      Os dados que são fornecidos pelo facebook sobre o utilizador (primeiro nome, último nome, foto<br/>
      , gênero, hora local, id do utilizador no glicosebot, estes dados são também guardados na nossa<br/>
      base de dados, juntamente com os dados fornecidos pelo utilizador e registos de conversa.<br/>
      O Facebook tem acesso a toda a informação que passa pelo facebook messenger, serviço do qual o nosso bot
      depende.<br/>
  </p>
    <p>
        Na internet os sistemas que a compõe não são 100% seguros e apesar de termos métodos para garantir<br/>
        a segurança dos dados e do caminho que os comunica, não é possível garantir a sua segurança a 100%.<br/>
    </p>

</div>

</body>
</html>

}