

@defining(play.core.PlayVersion.current) { version =>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <title>GlicoseBot, Termos de Serviço</title>
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous"
    >
</head>
<body>

<section id="top">
  <div class="wrapper">
      Termos de Serviço
  </div>
</section>

<div id="content" class="wrapper doc">
    <p>
        <b>1.</b> O utilizador, usuário do GlicoseBot compreende que é ele o responsável pela verificação<br/>
        dos dados introduzidos e a validação dos mesmos usando as mensagens que lhe são apresentadas<br/>
        e o relatório ao qual tem acesso.<br/>
        <b>2.</b> Não é garantido a gratuitidade do serviço, sendo o usuário (utilizador) notificado de qualquer<br/>
        mudança.<br/>
        <b>3.</b> A informação transmitida e recebida depende dos sistemas e serviços da plataforma do Facebook<br/>
        e como tal está sujeito às condições disponibilizadas pelo Facebook.<br/>
        <b>4.</b> A informação é transmitida de forma encriptada mas na origem e no destino são processadas de forma<br/>
        não encriptada.<br/>
        <b>5.</b> O GlicoseBot é disponibilizado como está e o seu uso pretende ser uma ajuda ao dia a dia do paciente<br/>
        diabético para registrar os seus valores de glicose.<br/>
        O utilizador deve verificar e testar se como está serve o seu propósito<br/>
        <b>6.</b> Não é um substituto para qualquer indicação do médico, nem de qualquer modo sugere qualquer tratamento<br/>
        ou alerta de valores acima, dentro ou fora dos parâmetros normais.<br/>
        <b>8.</b> Os problemas com o uso podem ser reportados pelo e-mail de contacto.<br/>
        <b>9.</b> O utilizador pode solicitar a eliminação dos seus dados da base de dados a qualquer momento por meio de chat.
        Visto que apenas dessa forma será possível identificar o utilizador do sistema de forma segura.<br/>

    </p>

</div>

</body>
</html>

}